<%- include('partials/header') -%>
<h1>Home</h1>
<p><%= startingContent %></p>

<% for( let i = 0; i < newPost.length; i++ ) { %>
<a
  style="text-decoration: none"
  href="/posts/<%= newPost [i]._id %>"
  ><h1><%= newPost [i].title %></h1></a
>
<p>
  <%= newPost [i].content.substring(0, 150) + '...' %>
  <a href="/posts/<%= newPost [i]._id %>">Read More</a>
</p>
<% } %> <%- include('partials/footer') -%>
